/ nav.product-filter
/   .sort
/     .collection-sort
/       label Filter by:
/       select
/         option value="/"  All
/     .collection-sort
/       label Sort by:
/       select
/         option value="/"  Date, old to new
/ section.products

.container
  ul.list-group
    - @adverts.each do |advert|
      li
        = render advert
    
