Devise.setup do |config|
  require 'devise/orm/active_record'

  config.secret_key = 'changeme'
  config.mailer_sender = 'please-change-me-at-config-initializers-devise@example.com'
  config.case_insensitive_keys = [:email]
  config.strip_whitespace_keys = [:email]
  config.skip_session_storage = [:http_auth]
  config.stretches = Rails.env.test? ? 1 : 11
  config.reconfirmable = false
  config.expire_all_remember_me_on_sign_out = true
  config.password_length = 6..128
  config.email_regexp = /\A[^@\s]+@[^@\s]+\z/
  config.reset_password_within = 6.hours
  config.sign_out_via = :delete

  config.omniauth :facebook, 'APP_ID', 'APP_SECRET'
  config.omniauth :twitter, 'APP_ID', 'APP_SECRET'
  config.omniauth :vkontakte, 'APP_ID', 'APP_SECRET',     {
      :scope => 'friends,audio,photos,email',
      :display => 'popup',
      :lang => 'en',
      :image_size => 'original'
    }
end
