default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: localhost
  username: 
  password:

development:
  <<: *default
  database: ad_service_development

test:
  <<: *default
  database: ad_service_test

production:
  <<: *default
  database: ad_service_production
  username: ad_service
  password: <%= ENV['AD_SERVICE_DATABASE_PASSWORD'] %>
