.brd {
  max-width: 300px !important;
  height: auto;
}

.inline-element {
  display: inline-block;
}

.list-group li {
    position: relative;
}
.panel-info, .panel-rating, .panel-more1 {
    float: left;
    margin: 0 10px;
}

.panel-info-text {
  width: 60%;
}

.show-form {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.edit-button {
  margin-top: 10px;
  float: right;
  color: black;
  text-decoration: none;
  font-size: 2em;
}

.container.my-container {
  width: 100%;
  position:relative;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    /*float: left;*/
    display: inline-block;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

.buttons-container {
  position: absolute;
  top: 5px;
  right: 5px;
  flex-direction: row;
}

.destroy-advert-form {
  display: inline-block;
}


.edit-advert-form {
  display: inline-block;
}

.sort-button {
margin-top: 10px;
width: 50%;
}