.brd {
  max-width: 300px !important;
  height: auto;
}

.sort-container {
  text-align: right;
  width: 100%;
  margin: 10px 10px 0;
  padding: 10px;
  box-sizing: border-box;
  display: block;
  padding-right: 30px;
}

#created_at_sort_link, #price_sort_link {
  display: inline-block;
  background-color: #40A1FF;
  margin-left: 3px;
  margin-right: 3px;
  padding: 3px 10px 3px;
}

 #created_at_sort_link a, #price_sort_link a {
  text-decoration: none;
    color: white;
 }

#status_moderated, #status_archived {
  display: none;
}

.inline-element {
  display: inline-block;
}

.list-group li {
    position: relative;
}
.panel-info, .panel-rating, .panel-more1 {
    float: left;
    margin: 0 10px;
}

.panel-info-text {
  width: 60%;
}

.button-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.show-form, .history-form {
  display: inline-block;
}

.edit-button {
  margin-top: 10px;
  float: right;
  color: black;
  text-decoration: none;
  font-size: 2em;
}

.container.my-container {
  width: 100%;
  position:relative;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    /*float: left;*/
    display: inline-block;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

.buttons-container {
  position: absolute;
  top: 5px;
  right: 5px;
  flex-direction: row;
}

.destroy-advert-form {
  display: inline-block;
}


.edit-advert-form {
  display: inline-block;
}

.sort-button {
margin-top: 10px;
width: 50%;
}