li.category-list-item {
  position: relative;
}

li.category-list-item:hover {
  background-color: #97CCFF;
  position: relative;
}

li.category-list-item.active-category-item {
  border-right: 3px solid #0B045F;
  background-color: #61B1FF;
}